

// Main Colors
$maincolor : #7ac977;
$green-success: #21A028;
$green: #4bb747;
$gray:#cccccc;
$dark-gray:#88888899;
$gold:#dfa743;



body{
    font-family: 'Roboto', sans-serif;
}

// General
.vh-95{
    height: 95vh;
}

.slick-dots{
    bottom: 10px !important;
}
.img-refresh{
    object-fit: cover;
    object-position: left;
}
.h-80px{
    height: 80px !important;
}
.h-90px{
    height: 90px !important;
}
.h-100{
    height: 100%;
}
.h-100px{
    height: 100px !important;
}
.h-150px{
    height: 151px;
}
.h-200px{
    height: 200px;
}
.h-250px{
    height: 250px;
}
.h-500px{
    height: 500px;
}
.h-600px{
    height: 600px;
}
.h-620px{
    height: 620px;
}
.w-70px{
    width: 70px;
}
.w-50px{
    width: 50px;
}
.mt-nav{
    margin-top: 25px;
}

// .max-height{
//     max-height: 722px;
//     min-height: 722px;
// }
.register-card{
    width: 750px;
}
.border-1{
    border:1px solid rgba(0,0,0,0.2); 
}
.border-2{
    border:2px solid rgba(0,0,0,0.2); 
}
.fs-30{
    font-size: 30px;
}
.navbar-dark .nav-navbar > .nav-link{
    color: #343434;
}
.navbar-dark .nav-navbar > .nav-link:hover{
    color: $maincolor;
}
.img-profile{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.navbar{
    top: 0;
    box-shadow: 0 4px 9px rgba(0,0,0,0.05);
}
.badge-pos-right{
    top: 1rem !important;
    right: 1rem !important;
    z-index: 20 !important;
}
.badge-pos-left{
    top: 1rem !important;
    left: 1rem !important;
    z-index: 20 !important;
}
.text-main{
    color:$maincolor !important;
}
.bg-gold{
    background-color: $gold;
}
.bg-main{
    background-color: $maincolor;
}
.bg-orange-light{
    background-color: orange;
}
.bg-gray-light{
    background-color: #ECECEC !important;
}
.bg-green-overlay-1{
    background-color: #cbf8c8 ;
}
.bg-green-overlay-2{
    background-color: #eafce9  ;
}
.text-gray-light{
    color: #ECECEC !important;
}
.bg-gradient{
    background-image: linear-gradient(to left bottom, #ffc3aa, #ffd1ae, #ffe0b4, #ffefbf, #fffdcc);
}

.text-black{
    color: #000;
}
.text-graylight{
    color: $gray;
}
.text-darkgray{
    color: $dark-gray;
}
.hr-gray
{
    height: 1px;
    width: 1px;
    background: #ccc;
}
.hr-gray-100
{
    height: 1px;
    width: 100%;
    background-color: #ccc;
}
.btn-main{
    background-color: $maincolor;
    color: #fff;
    &:hover{
        color: #fff;
    }
}
.btn-secondry{
    background-color: $gray;
    color: #000;
}
.btn-outline-black{
    border: 3px solid #fff;
}
.btn-outline-main{
    color: $maincolor !important;
    background: transparent;
    border: 2px solid $maincolor;
    &:hover{
        background-color: $maincolor;
        color: #fff!important;
    }
}
.border-main
{
    border:2px solid $maincolor !important;
}

.badge-main{
    background-color: $maincolor;
    color: #fff;
}

.border-rounded
{
    border: 1px white solid;
    border-radius: 10rem;
}

.border-gray
{
    border: 1px $gray solid;
    border-radius: 10px;
}
.card-img{
    height: 300px;
}
.w-50px
{
    min-width: 50px;
    max-width: 55px;
}
//2 images animation

.heading{
    font-size: 3.5rem;
    text-align: center;
    margin-bottom: 30px;
    font-weight: 600;
    &::before{
        content: "";
        display: inline-block;
        height: 6px;
        width: 80px;
        background-color: $maincolor;
        margin-bottom: 16px;
        margin-right: 20px;
    }
    &::after{
        content: "";
        display: inline-block;
        height: 6px;
        width: 80px;
        background-color: $maincolor;
        margin-bottom: 16px;
        margin-left: 20px;
    }
}
.nav-tabs{
    border-bottom: 0;
    &:hover{
        border-bottom: 0;
    }
    .nav-link.active, .nav-item.show .nav-link {
        color: $maincolor;
        background-color: #fff;
        border-color: #fff;
        border-bottom:2px solid $maincolor;
        &:hover{
            color: #000;
        }
    }
    .nav-link{
    padding: .5rem 2rem;
        &:hover{
            text-decoration: none;
            color: #000;
        }
    }
}

// navbar drop down registed
.dropdown{
    .dropdown-menu{
        padding: 0;
        .nav-pills .nav-link{
            padding: 5px 20px;
        }
        .nav-pills .nav-link.active, .nav-pills .show>.nav-link{
            border-left: 2px solid $maincolor;
            color: #000;
            background-color: #fff;
        }
    }
    
}
// home page index
.navbar{
    box-shadow: none;
    &__long{
        width: 400px;
    }
    .navbar-left{
        .navbar-brand{
            .logo{
                height: 65px;
            }
        }
    }
}
@media screen and (min-width:1050px){
    .meduim-banner-size{
        width: 300px !important;
        height: 250px !important;
    }   
}
@media screen and (max-width: 991.98px){
    .navbar-expand-lg .navbar-mobile{
        background-color: $maincolor !important;
    }

}

// header
.header{
    &__caption{
        position: absolute;
        top: 50%;
        left: 10%;

        &--h4{
            font-size: 3.5rem;
            font-weight: 600;
        }
        &--h6{
            font-size: 1.5rem;
            font-weight: 600;
        }
    }

}
@media screen and (max-width:900px)
{
    .header__caption{
        display: none;
    }
    .h-600px-responsive{
        height: 600px;
    }
}
// products

.products{
    padding: 5rem 0;
    .product-detail{
        overflow: hidden;
    }
    &__card{
        overflow: hidden;
        &--image{
            height: 350px;
        }
        
    }
    .card-img{
        position: relative;
        
    }
    &__controls{
        position: absolute;
        transition: all 1s;
        top: 15%;
        left: -175%;
        right: 0;
        z-index: 20;
        ul{
            border-radius: 10%;
        }
    }
    .img1{
        z-index: 10;
    }
    .img2{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 9;
        transition: all 0.5s;
    }
    &__card:hover .img2{
        z-index: 11;
    }
}
.products__card:hover .products__controls{
    left: -70% !important;
}
.deals{
    padding: 3.5rem 0;
}
@media screen and (max-width:1024px){
    .deals__resposnive{
        margin-bottom: 50px;
    }
}
// about
.about{
    background-image: linear-gradient(to right bottom , rgba(2, 20, 162 ,0.5) , rgba(2, 20, 162 ,0.5)), url(../img/single-img-twentyone.jpg);
    background-size: cover;
    background-attachment: fixed;
    padding: 3rem 0;
    .heading{
        &::before{
            background-color: #fff;
        }
        &::after{
            background-color: #fff;
        }
    }
    .card{
        background-color: transparent;
        .card-body{
            padding: 35px;
            .btn{
                padding: 1.5rem;
                border-radius: 5px;
            }
        }
    }
}
// what-we-offer
.what-we-offer{
    padding: 100px 0;
    .slick-prev{
        left: -5rem;
    }
    .slick-next{
        right: -5rem;
    }
}
// ad section
@media screen and (max-width:1024px){
    .ad{
        margin-top: 50px;
    }
}
@media screen and (max-width:800px){
    .ad{
        .h-500px{
            height: 250px;
        }
    }
}

// ads section
.ads{
    padding:0 0 3rem  0;
}
// advantages sections
.advantages{
    padding: 3rem 0;

}
// sponsors information
.sponsors{
    padding: 2rem 0;
}
// new arrived 
.newarrived{
    padding: 50px 0;
}
// footer
.footer{
    background-color: #252525 !important;
    .img-fluid{
        height: 30px;
    }
}
#cart{
    position: fixed;
    top:0;
    right: -400px; 
    width: 400px;
    z-index: 99999999999999999;
    img{
        height: 100px;
    }
}

#cart__options{
    background-color:#fff;
    padding: 30px;
    overflow-y: auto;
    max-height: 722px;
    min-height: 100vh;
}
// loader
.loader{
    position: fixed;
    background-color: $maincolor;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    z-index: 99999;
    display: flex;
    justify-content: center;
    align-items: center;
    
    &__img{
        // position: absolute;
        // top: 43%;
        // left: 43%;
        animation-name: spin;
        animation-duration: 5000ms;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }
    &__h2{
        position: absolute;
        top: 43%;
        left: 43%;
    }
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}
@media screen and (max-width:800px){
    #cart__options{
        padding: 50px;
    }

}
// productspage
.pageheader{
    padding: 10rem 0 2.5rem 0;
    background-image: url(../img/banner/ShopBanner.png);
    background-size: 100% 100%;
    &__caption{
        &--h4{
            font-size: 3.5rem;
            font-weight: 600;
        }
        &--h6{
            font-size: 1.5rem;
        }
    }
}
.productlist{
    padding: 4rem 0;
    .card-img-top .badges-product {
        position: absolute;
        bottom: 0;
        padding: 1rem 1.25rem;
    }
    .card{
        position: relative;
        .img1{
            z-index: 10;
        }
        .img2{
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 9;
            transition: all 0.5s;
        }
        &:hover .img2{
            z-index: 11;
        }
        .badges-product{
            position: absolute;
            top: 235px;
            z-index: 20;
            padding: 1rem 1.25rem;
        }
    }
    
    
}
.checkout{
    padding: 3rem 0;
    &__img{
        height: 120px;
    }
}
@media screen and (max-width:800px){
    .checkout{
        padding: 3rem 0;
        text-align: center;
        &__img{
            height: 200px;
            width: 100%;
            margin-bottom: 20px;
        }
    }
}
.product-details{
    &__img{
        height: 450px;
        width: 100%;
    }
}

// Form Block
.Form-main{
    border:1px $gray solid;
    border-radius: 4px;
}

.text-green {
    color: $green;
}
.bg-green {
    background-color: $green;
}





// profile page
.profile{
    &__header{
        height: 150px;
        background-size: cover;
        background-image: url(../img/cover__home.jpeg);
    }
    &__img{
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }
    .nav-pills .nav-link{
        padding: 10px 20px;
    }
    .nav-pills .nav-link.active, .nav-pills .show>.nav-link{
        border-left: 2px solid $maincolor;
        color: #000;
        background-color: #fff;
    }
    
    &__past{
        .last-stage{
            i{
                color: #4B4A54;
            }
            h4{
                color: #4B4A54;
            }
            p{
                color: #4B4A54;
            }
        }
        .active-stage{
            i{
                color: $maincolor;
            }
            h4{
                color: $maincolor;
            }
            p{
                color: $gray;
            }
        }
        .next-stage{
            i{
                color: $gray;
            }
            h4{
                color: $gray;
            }
            p{
                color: $gray;
            }
        }
    }
}
@media screen and (min-width:1000px){
    .profile{
        &__right{
            max-height: 500px;
            overflow-y: auto;
        }

    }
}




// media queries
@media screen and (max-width:1025px){
    .what-we-offer{
        .slick-prev{
            display: none !important;
        }
        .slick-next{
            display: none !important;
        }
    }
}
@media screen and (max-width:800px){
    .right-img{
        display: none;
    }
    .details{
        &__general{
            &--info{
                p{
                    margin: 30px 0 10px 0;
                }
                h4{
                    margin: 30px 0 10px 0;
                }
            }
        }
    }
    .modal-login{
        #close{
            top: 20px;
            right: 20px;
        }
    }
    .booking__search--labelnone{
        display: none;
    }
}

@media screen and (max-width:1000px){
    .filter{
        .card{
            .col-lg-4{
                    .img-main{
                        width: 100%;
                    }
            }
            .card-body{
                .card-description{
                    margin-top: 20px;
                }
            }
        }
    }
    .booking{
        .user-cancellation{
            .list{
                margin-bottom: 20px;
            }
            .tabs{
                .card{
                    .col-lg-4{
                        .img-main{
                            width: 100%;
                        }
                    }
                }
            }
            .card{
                .card-body{
                    .card-description{
                        margin-top: 20px;
                    }
                }
            }
        }
    }
}


@media screen and (max-width:600px){
    .heading{
        &::before{
            display: block;
            margin-left: auto;
        }
        &::after{
            display: block;
            margin-right: auto;
            margin-top: 16px;
        }
    }
    .profile{
        &__right{
            margin-top: 20px;
        }
    }
}
@media screen and (max-width:450px){
    .login{
        .w-400{
            width: 300px !important;
        }
    }
}
input[type="checkbox"] {
    visibility: hidden;
}
label {
    cursor: pointer;
}
input[type="checkbox"] + label:before {
    border: 1px solid rgba(0,0,0,0.5);
    content: "\00a0";
    display: inline-block;
    font: 16px/1em sans-serif;
    height: 20px;
    margin: 0 .25em 0 0;
    padding: 0;
    vertical-align: top;
    width: 18px;
}
input[type="checkbox"]:checked + label:before {
    color: $maincolor;
    content: "\2713";
    text-align: center;
}